<h2>Transaction Summary</h2>
<p>Vendor: <%= @transaction.vendor.vendor_name %></p>
<p>Category: <%= @transaction.category.category_name %></p>
<p>Amount:£ <%= @transaction.amount %></p>


<form class="" action="/transactions/<%= @transaction.id %>/edit" method="get">
  <input class="button" type="submit" name="" value="Edit Transaction">
</form>

<form class="" action="/transactions/<%= @transaction.id %>/delete" method="post">
  <input class="button" type="submit" name="" value="Delete Transaction">
</form>
